--index-url https://pypi.python.org/simple/

paste

-e git+git@github.com:sixty-north/brooks.git#egg=brooks
-e .
-e git+git@github.com:abingham/bark-spider-interventions.git#egg=bark_spider_interventions
